body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.weatherContainer {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    margin: 0 auto;
    transition: transform 0.3s;
}

.weatherContainer:hover {
    transform: scale(1.05);
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.search-input {
    padding: 10px;
    width: calc(100% - 120px); 
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    margin: 0;
}

.search-button {
    padding: 10px 20px; 
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #4facfe;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #00f2fe;
}